{{define "_navbar_teacher"}}
    <div class="d-flex flex-column flex-md-row flex-lg-row p-2 px-md-4 bg-white border-bottom">
        <nav class="navbar my-0 mr-sm-auto mr-md-auto mr-lg-auto h1 ml-4">
            <a class="navbar-brand text-blue" href="/teacher/home">Weebinar</a>
        </nav>
        <nav class="navbar my-2 my-md-0 ">
            <div class="dropdown mx-4">
                <button onclick="usernameDropdown()" class="dropbtn">User
                    <i class="dropdown-icon fas fa-angle-down ml-1"></i>
                </button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/teacher/profile">Your Account</a>
                    <a href="#" data-toggle="modal" data-target="#signOutModal">Sign Out</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Sign Out Modal -->
    <div class="modal fade" id="signOutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-dark-gray">
                <div class="modal-header">
                    <p class="modal-title">Sign Out</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body h5 lead center m-0">
                    <p>Are you sure you want to sign out?</p>
                </div>
                <div class="modal-footer border-0 pt-0">
                    <button type="button" onclick="logout()"
                            class="btn btn-outline-secondary ">Yes, sign out
                    </button>
                    <button type="button" class="btn-blue" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //Username dropdown
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function usernameDropdown() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        function logout() {
            console.log('logout invoked');
            window.location.href = '/logout';
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        //sign out modal
        $('#signOutModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        });
    </script>
{{end}}