{{define "_navbar"}}
<div class="d-flex flex-column flex-md-row flex-lg-row p-2 px-md-4 bg-white border-bottom">
    <nav class="navbar my-0 mr-sm-auto mr-md-auto mr-lg-auto h1">
        <a class="navbar-brand" href="/teacher/home">Weebinar</a>
        <form class="navbar-search mr-sm-auto mr-md-auto mr-lg-auto">
            <div class="input-group">
                <input type="text" class="form-control border small" placeholder="Search for...">
                <div class="input-group-append">
                    <button class="btn btn-dark" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </nav>
    <nav class="navbar my-2 my-md-0 ">
        <!--Notification Dropdown-->
        <div class="dropdown">
            <button onclick="notificationDropdown()" class="dropbtn mr-lg-2 mr-md-2">Notification
                <i class="dropdown-icon fas fa-bell ml-1"></i>
            </button>
            <div id="notifDropdown" class="dropdown-content">
                <a href="#">Notification 1:
                    ......................................................................................</a>
            </div>
        </div>
        <!--Username Dropdown-->
        <div class="dropdown ">
            <button onclick="usernameDropdown()" class="dropbtn">Settings
                <i class="dropdown-icon fas fa-angle-down ml-1"></i>
            </button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/teacher/profile">Your Account</a>
                <a href="#" data-toggle="modal" data-target="#signOutModal">Sign Out</a>
            </div>
        </div>

</div>
<!-- Sign Out Modal -->
<div class="modal fade" id="signOutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">Sign Out</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body h5 lead center m-0">
                <p>Are you sure you want to sign out?</p>
            </div>
            <div class="modal-footer border-0 pt-0">
                <form method="get" action="/logout">
                    <input type="submit" class="btn btn-primary" value="Yes, sign out"/>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //Notification Dropdown
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function notificationDropdown() {
        document.getElementById("notifDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }


    //Username dropdown
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function usernameDropdown() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    //sign out modal
    $('#signOutModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    });
</script>
{{end}}