{{define "create_success"}}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <title>Document</title>
        {{template "_header"}}
    </head>

    <body class="sess text-dark-gray">
    {{template "_navbar_teacher"}}
    <div class="container mt-4 ">
        <div class="row py-5">
            <div class="col"></div>
            <div class="col-5">
                <div class="card animated animatedFadeInUp fadeInUp">
                    <div class="card-body">
                        <img src="/assets/images/success.png" alt="" class="img-center">
                        <div class="text-center">
                            <h1>Thank you!</h1>
                            <p>You have successfully made your Webinar</p>
                            <form action="/teacher/home" method="get">
                                <button type="submit" class="btn btn-success">Go back to home</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    </body>

    </html>
{{end}}