{{define "create"}}
<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}}</title>
        {{template "_header"}}
    </head>
    <head>
    </head>
    
    <body>
        {{template "_navbar"}}
        <!-- {{template "_message"}}
        <p>Page: Index</p>
        <p>Welcome {{.name}}</p> -->
        <div class="container mt-4">
            <div class="row my-3">
                <div class="col">
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header"><b>
                            Create a Webinar
                        </b></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <label for="">Title of Webinar</label>
                                    <input type="text" name="" id="" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="">Category</label>
                                    <input type="datetime-local" name="" id="" class="form-control"> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="">Category</label>
                                    <input type="text" name="" id="" class="form-control"> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="">Description</label>
                                    <textarea type="text" name="" id="" class="form-control"> </textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="">Insert Webinar's Poster</label>
                                    <div>
                                        <button class="btn btn-outline-dark">Browse Image</button>        
                                    </div>
                                    <small>*Allowed files: JPG, JPEG, PNG</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-end ">
                                    <button class="btn btn-dark mt-3">Update</button>        
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="col">
                    
                </div>
            </div>
        </div>
    </body>
</html>
{{end}}
