{{define "create"}}
    <!DOCTYPE html>
    <html>

    <head>
        <title>{{.title}}</title>
        {{template "_header"}}
    </head>

    <head>
    </head>

    <body class="sess">
    {{template "_navbar"}}
    <!-- {{template "_message"}}
        <p>Page: Index</p>
        <p>Welcome {{.name}}</p> -->
    <div class="container mt-4">
        <div class="row my-3">
            <div class="col">
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><b>
                            Create a Webinar
                        </b></div>
                    <div class="card-body">
                        <form action="/teacher/webinar/create" method="POST">
                            <div class="row mb-2">
                                <div class="col">
                                    <label for="">Title of Webinar</label>
                                    <input type="text" name="title" class="form-control" placeholder="Title">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <label for="">Description</label>
                                    <input type="text" name="description" class="form-control" placeholder="Description">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <label for="">Meeting Link</label>
                                    <input type="text" name="link" class="form-control" placeholder="https://...">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <label for="">Schedule</label>
                                    <input type="text" name="schedule_string" id="" class="form-control" placeholder="YYYY-MM-DD HH:MM">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <label for="">Category</label>
                                    <select class="form-control" name="category" id="">
                                        <option>Science</option>
                                        <option>Social</option>
                                        <option>Literature</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-end ">
                                    <input type="submit" class="btn btn-dark mt-3" value="Create a Webinar">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    </body>

    </html>
{{end}}