{{define "detail"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{.title}}</title>
    {{template "_header"}}
</head>

<body class="sess">
    {{template "_navbar"}}
    <div class="container mt-4">
        <div class="row mb-3">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8 mb-3">
                        <div class="card">
                            <img class="card-img-top" src="/assets/images/nasa-Q1p7bh3SHj8-unsplash.jpg">
                            <!-- <img class="card-img-top" src="/assets/images/ethan-hu-USSFmYDPNa4-unsplash.jpg"> -->
                            <!-- <img class="card-img-top" src="/assets/images/freestocks-RgKmrxpIraY-unsplash.jpg" -->
                            <div class="card-body">
                                <div class="h4">{{.webinar.Title}}</div>
                                <div class="card-text">
                                    {{.webinar.Desc}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Webinar Details</h5>
                                <p class="card-text">Date: </p>22 Dec 20 16:00
                                <br>
                                <p class="card-text">Category: </p>{{.webinar.Category}} <br>
                                <p class="card-text">Teacher: </p>{{.name}}<br>
                                <p class="card-text">Meeting Link: </p>{{.webinar.Link}}
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Participants</h5>
                                {{ range .participants}}
                                <div class="mb-2">
                                    <div class="row">
                                        <div class="col-6">{{.Name}}</div>
                                        <div class="col-6">
                                            <!-- <div class="btn btn-warning">Requested</div> -->
                                            <div class="btn btn-success">{{.Status}}</div>
                                        </div>
                                    </div>
                                </div>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{{end}}