{{define "detail_student"}}

<!DOCTYPE html>
<html lang="en">

<head>
    {{template "_header"}}
</head>

<body class="sess">
    {{template "_navbar"}}
    <!--Web Content (Webinar Details)-->
    <div class="container mt-4">
        <div class="row mb-3">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="card">
                            <!-- <img class="card-img-top" src="/assets/images/nasa-Q1p7bh3SHj8-unsplash.jpg">
                            <img class="card-img-top" src="/assets/images/ethan-hu-USSFmYDPNa4-unsplash.jpg"> -->
                            <img class="card-img-top" src="/assets/images/freestocks-RgKmrxpIraY-unsplash.jpg">
                            <div class="card-body">
                                <div class="h4"><b>Webinar 1</b></div>
                                <div class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed eros
                                    vehicula, pellentesque est et, tincidunt purus. Aliquam arcu quam, dictum non
                                    pretium id, viverra vitae leo. Sed mattis, nisi et tincidunt vulputate, odio risus
                                    convallis velit, vel venenatis eros eros nec massa. Suspendisse faucibus enim eget
                                    nisi convallis, quis pharetra tortor interdum. Duis eu risus sed odio dapibus tempus
                                    nec ac nibh. Vivamus in velit sit amet sapien feugiat vestibulum. Praesent ligula
                                    augue, imperdiet nec pulvinar sit amet, ullamcorper nec nunc. In lectus turpis,
                                    laoreet vel ante in, sodales lacinia urna. Proin vulputate ex tincidunt nulla
                                    sollicitudin pulvinar. Quisque sit amet lacinia purus. Duis tincidunt massa eros, a
                                    molestie quam mollis et. Vivamus vehicula est at varius rutrum. In non elit magna.
                                    Donec at dolor condimentum, ullamcorper mi quis, imperdiet arcu.
                                    <br>
                                    <br>Vivamus non massa at quam luctus consequat. Mauris non leo a ipsum gravida
                                    feugiat ut a orci. Donec sollicitudin, mauris vel posuere iaculis, diam lectus
                                    accumsan augue, sed placerat quam urna vel sapien. Cras convallis viverra leo nec
                                    porttitor. Morbi nisl nibh, efficitur non nisi ac, porta molestie tortor. Maecenas
                                    mattis viverra leo sed sollicitudin. Cras ultricies dui eget vulputate egestas.
                                    <br>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title"><b>Webinar Details</b></h5>
                                <p class="card-text"><b>Date: </b></p> <br>
                                <p class="card-text"><b>Category: </b></p> <br>
                                <p class="card-text"><b>Teacher: </b></p> <br>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-dark btn-block my-4">Register</button>
                                <!-- <p class="center text-secondary my-4">Waiting for Approval</p>
                                <p class="center text-success my-4">Approved</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{{end}}