{{define "detail_student"}}

    <!DOCTYPE html>
    <html lang="en">

    <head>
        {{template "_header"}}
    </head>

<body class="sess text-dark-gray">
    {{template "_navbar_student"}}
    <!--Web Content (Webinar Details)-->
    <div class="container mt-4">
        <div class="row mb-3">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="card">
                            {{if eq .webinar.Category "Science"}}
                                <img class="card-img-top" src="/assets/images/nasa-Q1p7bh3SHj8-unsplash.jpg">
                            {{else if eq .webinar.Category "Social"}}
                                <img class="card-img-top" src="/assets/images/ethan-hu-USSFmYDPNa4-unsplash.jpg">
                            {{else}}
                                <img class="card-img-top" src="/assets/images/freestocks-RgKmrxpIraY-unsplash.jpg">
                            {{end}}
                            <div class="card-body">
                                <div class="h4 text-blue mr-auto"><b>{{.webinar.Title}}</b></div>
                                <div class="card-text">
                                    {{.webinar.Desc}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title text-blue">Webinar Details</h5>
                                <p class="card-text text-blue-1">Date: </p>
                                <p class="card-text">{{.webinar.ScheduleString}}</p>
                                <p class="card-text mt-2 text-blue-1">Category: </p>
                                <p class="card-text">{{.webinar.Category}}</p>
                                <p class="card-text mt-2 text-blue-1">Teacher: </p>
                                <p class="card-text">{{.teacher.Name}}</p>
                                <p class="card-text mt-2 text-blue-1">Meeting Link: </p>
                                <p class="card-text">{{.webinar.Link}}</p>
                            </div>
                            <div class="col-12">
                                {{if eq .status -1}}
                                    <form action="/student/webinar/{{.webinar.ID}}/enroll" method="post">
                                        <input type="submit" class="btn btn-dark btn-block my-4" value="Register"/>
                                    </form>
                                {{else if eq .status 0}}
                                    <p class="center text-secondary my-4">Waiting for Approval</p>
                                {{else}}
                                    <p class="center text-success my-4">Approved</p>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
{{end}}