{{define "search"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{.title}}</title>
    {{template "_header"}}
</head>

<body class="sess text-dark-gray">
    {{template "_navbar"}}
    <!--Web Content (Webinar Details)-->
    <div class="container mt-4">
        <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="mx-4">
                        <div class="my-4">
                            <h4>Searching for "word-searched"</h4>
                            <div class="text-secondary">About ... results</div>
                        </div>
                        <div class="mb-4">
                            <a class="h5 lead text-blue" href="#">Title</a>
                            <p class="text-blue-1" style="margin-bottom:0;">Category</p>
                            <small class=" card-text text-secondary">
                                <div class="clip-context">
                                    Description
                                Description Description Description Description Description Description Description Description
                                Description Description Description Description Description Description Description Description
                                Description Description Description Description Description Description Description Description
                                Description Description Description Description Description Description
                                Description Description Description Description Description Description Description Description
                                Description Description Description Description Description Description Description Description
                                Description Description Description Description Description Description Description Description
                                Description Description Description Description Description Description
                                Description
                                Description Description Description Description Description Description Description Description
                                Description Description Description Description Description Description Description Description
                                Description Description Description Description Description Description Description Description
                                Description Description Description Description Description Description
                                Description Description Description Description Description Description Description Description
                                Description Description Description Description Description Description Description Description
                                Description Description Description Description Description Description Description Description
                                Description Description Description Description Description Description
                                Description
                                </div>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>

</html>
<script>
    $(document).ready(function () {
        for (let c of $("div.clip-context")) {
            if ($(c).innerHeight() >= 85) {
                $(c).text($(c).text().substr(0, 450));
                $(c).append(" ...");
            }
        }
    });
</script>
{{end}}